<app-topo/>
<div *ngIf="jogoEncerrado === 'default'; else perdeu"> 
    <app-painel (jogoEncerrado)="encerrarJogo($event)" />
</div>
<ng-template #perdeu>
    <div *ngIf="jogoEncerrado === 'perdeu'; else ganhou">
        <h2 class="text-danger">
           Fim de jogo, infelizmente você  perdeu 😱 
        </h2>
        <button class="btn btn-primary" (click)="jogarNovamente()">Jogar novamente</button>
    </div>
</ng-template>

<ng-template  #ganhou>
    <div *ngIf="jogoEncerrado === 'ganhou'">   
        <h2 class="text-success">
           Fim de jogo, você ganhou 😍 
        </h2>
        <button class="btn btn-primary" (click)="jogarNovamente()">Jogar novamente</button>
    </div>
</ng-template>
